<!DOCTYPE html>
<html>
<head>
  <title>RubyZilla</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
  <div id="wrapper">
	<div id="header">
		<div class="header-holder">
			<div class="rays">
				<div class="header-area">
					<a class="logo" href=""><img alt="Zuora Home Page" src="/assets/logo.png"></a>
				</div>
			</div>
		</div>
	</div>
</div>
</head>
<body>

<%= yield %>

</body>
<!--  -->
</html>
